body {
  margin: 0;
  font-family: Ubuntu-Regular;
  font-size: 1.5rem;
  caret-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url('./assets/fonts/Ubuntu-Regular.ttf');
}

/* @font-face {
  font-family: Ubuntu-Medium;
  src: url('./assets/fonts/Ubuntu-Medium.ttf');
} */